html, body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, fieldset, input {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, pre, code, address, caption, cite, code, em, strong, table, th, td {
  font-size: 1em;
  font-style: normal;
  font-weight: normal;
}

strong {
  font-weight: bold;
}

ul, ol {
  list-style: none outside none;
}

fieldset, img {
  border: medium none;
  vertical-align: middle;
}

caption, th {
  text-align: left;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  min-width: 1200px;
  font: 14px/normal "PingFang SC", "Helvetica neue", Helvetica, Tahoma, "lantinghei sc", "Microsoft Yahei", sans-serif;
  color: #666;
  background: #FFF none repeat scroll 0 0;
}

input, select, textarea, button {
  font: 14px/normal "PingFang SC", "Helvetica neue", Helvetica, Tahoma, "lantinghei sc", "Microsoft Yahei", sans-serif;
}

i, cite, em {
  font-style: normal;
}

input, button, select, textarea {
  outline: none
}

a {
  text-decoration: none;
}

html, body, div, ul, li, a, i, img, span, :before, :after {
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.hide {
  display: none!important;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.layout-center {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  overflow-x: hidden;
}


/*text*/

.txt-14 {
  font-size: 14px;
}

.txt-16 {
  font-size: 16px;
}

.txt-18 {
  font-size: 18px;
}

.txt-24 {
  font-size: 24px;
}

.txt-605d5c {
  color: #605d5c;
}

.txt-e77715 {
  color: #e77715;
}

.txt-left {
  text-align: left;
}

.txt-right {
  text-align: right;
}


/*背景*/

.bg-e1e0e0 {
  background-color: #e1e0e0;
}


/*icon*/

[class^="icon"] {
  display: inline-block;
  vertical-align: middle;
}

.icon-phone {
  width: 20px;
  height: 20px;
  background-image: url(../imgs/icon-phone.png);
  background-position: center;
}

.icon-tel, .icon-msg, .icon-loc {
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
}

.icon-tel {
  background-image: url(../imgs/icon-tel.png);
}

.icon-msg {
  background-image: url(../imgs/icon-msg.png);
}

.icon-loc {
  background-image: url(../imgs/icon-loc.png);
}


/*banner*/

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 30px;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #fff;
  opacity: 1;
  position: relative;
}

.swiper-pagination-bullets .swiper-pagination-bullet-active {
  background: #e77715;
}

.swiper-pagination-bullets .swiper-pagination-bullet-active:after {
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  left: -2px;
  width: 12px;
  height: 12px;
  border-radius: 12px;
  border: 1px solid #e77715;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 10px;
}


/*header*/

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: #fff;
  z-index: 999;
}

header .logo {
  display: inline-block;
  height: 80px;
}

header .logo, header [class^="icon"], header span {
  vertical-align: middle;
}

header .logo>img {
  display: block;
  height: 100%;
}

header .menu {
  overflow: hidden;
  line-height: 80px;
}

header .menu li {
  float: left;
  cursor: pointer;
}

header .menu li:hover {
  background-color: rgba(175, 175, 175, 0.1);
}

header .menu li >a {
  display: block;
  padding: 0 30px;
  color: #000;
}

header .menu li.active a, header .menu li:hover a {
  color: #e77715;
}

.main {
  padding-top: 80px;
}

.top-img {
  width: 100%;
  min-width: 1200px;
}

.top-img>img {
  display: block;
  width: 100%;
}

.banner-item {
  position: relative;
}

.banner-item .info {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #ddd;
  text-align: center;
  white-space: nowrap;
  line-height: 1.5;
}

.banner-item .info .title {
  font-size: 50px;
}

.banner-item .info .des {
  font-size: 24px;
}

.banner-item .info .before, .banner-item .info .after {
  display: block;
  width: 60px;
  height: 2px;
  margin: 20px auto;
  background-color: #ccc3c0;
}

footer {
  box-sizing: border-box;
  padding-top: 40px;
  background-image: url(../imgs/footer.jpg);
  background-repeat: repeat-x;
  color: #fff;
}

footer .footer-center {
  width: 1000px;
  margin: 0 auto;
}

footer .footer-title {
  font-size: 50px;
  color: #fff;
  position: relative;
  line-height: 1.5;
  text-align: center;
}

footer .footer-title:before {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 1px;
  background-color: #e5e5e5;
}

footer .footer-title:after {
  content: "";
  display: block;
  width: 60px;
  position: absolute;
  bottom: -1px;
  left: 50%;
  margin-left: -30px;
  height: 3px;
  background-color: #e87e21;
}

footer .copy {
  padding: 20px 0;
  font-size: 12px;
  color: #eee;
  overflow: hidden;
}

footer .copy a {
  color: #eee;
}

footer .copy a:hover {
  text-decoration: underline;
}

footer .info {
  width: 100%;
  padding: 60px 0;
  display: table;
}

footer .info .tel, footer .info .qrs {
  width: 50%;
  display: table-cell;
  vertical-align: middle;
}

footer .info .tel {
  line-height: 40px;
}

footer .info .qrs .qr {
  display: inline-block;
  text-align: center;
  font-size: 12px;
  line-height: 2;
}

footer .info .qrs .qr + .qr {
  margin-left: 10px;
}

footer .info .qrs .qr>img {
  display: block;
}

footer .form {
  display: block;
  overflow: hidden;
}

footer .form .user-info {
  float: left;
  width: 490px;
}

footer .form .user-info .form-input {
  display: block;
  width: 100%;
}

footer .form .user-info .form-input + .form-input {
  margin-top: 20px;
}

footer .form .user-info .form-input>input {
  display: block;
  width: 100%;
  height: 35px;
  box-sizing: border-box;
  padding: 0 10px;
  line-height: 35px;
  border: 1px solid #fff;
  background-color: #fff;
  color: #323232
}

footer .form .user-msg {
  float: right;
  width: 490px;
}

footer .form .user-msg textarea {
  display: block;
  width: 100%;
  height: 145px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #fff;
  resize: none;
  line-height: 1.5;
}

footer .form .user-info .form-input>input:focus, footer .form .user-msg textarea:focus {
  border: 1px solid #e77715;
}

footer .form .form-submit {
  display: block;
  margin: 20px 0;
  text-align: right;
}

footer .form .form-submit button {
  padding: 8px 20px;
  border-radius: 5px;
  border: none;
  background-color: #e77715;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
}

footer .form .form-submit button:hover {
  background-color: #d76705;
}


/*pager*/

.pager {
  padding: 20px;
  font-size: 14px;
  text-align: center;
}

.pager>a, .pager>span {
  display: inline-block;
  padding: 0 10px;
  color: #5d5a57;
  line-height: 1.8;
}

.pager>a+span, .pager>a+a, .pager>span+span, .pager>span+a {
  margin-left: 5px;
}

.pager>a.active, .pager>a:hover {
  color: #fff;
  background-color: #e77715;
}

.pager>span {
  background-color: #f5f5f5;
}

.ad {
  display: block;
  width: 100%;
}

.ad>img {
  display: block;
  width: 100%;
}

@media screen and (max-width:1000px) {
  header .menu {
    display: none;
  }
}
